<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="三维商场导航">
    <meta name="keywords" content="三维建筑,三维楼层,商场导航,导购">
    <title>三维商场导航</title>
    <link rel="shortcut icon" href="~/logo.png" />
    <link type="text/css" href="~/Content/main.css" rel="stylesheet">
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
